@keyframes fade-in
  0%
    opacity 0
  to
    opacity 1

@keyframes drop-down-fade-in
  0%
    opacity 0
    transform translateY(-20px)
  to
    opacity 1
    transform translateY(0)

@keyframes drop-up-fade-in
  0%
    opacity 0
    transform translateY(20px)
  to
    opacity 1
    transform translateY(0)

@keyframes slide-in-right-fade-in
  0%
    opacity 0
    transform translateX(-40px)
  to
    opacity 1
    transform translateX(0)

@keyframes slide-in-left-fade-in
  0%
    opacity 0
    transform translateX(40px)
  to
    opacity 1
    transform translateX(0)

.animated
  animation-duration transition_normal
  animation-timing-function ease-out
  animation-fill-mode backwards

.animated.slide-in-left
  animation-name slide-in-left-fade-in

.animated.slide-in-right
  animation-name slide-in-right-fade-in

.animated.drop-down
  animation-name drop-down-fade-in

.animated.drop-up
  animation-name drop-up-fade-in

for i in (0..24)
  .animation-delay-{i}
    animation-delay (i * 50ms)
