@media (max-width: 720px)
  .hero-text .aod-logo
    width 40%

  .hero-video .hero-text h1
    font-size 28px

@media (max-width: 1120px)
  h1, h2
    font-size 1.3em

@media (max-width: 1230px)
  .push
    margin-top: 530px;
  .mobile-nav

    .clan-logo, .hamburger
      display block

    .nav-items
      background-color #111
      margin-top -10px
      z-index 5

      li a
        display block
        font-family MuseoSans, arial, sans-serif
        padding 10px 0 10px 25px
        border-bottom 1px rgba(255, 255, 255, .1) solid
        margin-left -42px
        color #555

        &:hover
          color #fff

  .collection .item
    flex 0 80%

  section .section-content-container
    width auto !important

  .primary-nav ul li
    background none

  .primary-nav
    position fixed
    top 0

  .section--short-width
    display block !important

  section.lobby
    background none !important

    .divisions-list
      margin-top 20px

  .footer-section
    flex 100%
    padding 15px

  #menu-primary
    display none

  section
    padding 20px
    &.founded-info .section-image
      display none

    &.founded-info .section-blurb
      width 100%

  section.lobby .section-blurb
    margin-right 40px

@media (max-width: 1260px)
    .push
      margin-top: 625px;
    .hero-video .hero-text
      top 125px
  section.founded-info .section-image
    position absolute
    top -130px
    right -60px
    img
      width 600px
      height 600px

@media (min-width: 1280px)
  .section-content-container
    width 960px

  .push
    margin-top: 700px;
