.soc
  overflow hidden
  margin 0
  padding 0
  list-style none
  display inline-block

  li
    display inline-block

  li a
    font-family si
    font-style normal
    font-weight 400
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    box-sizing border-box
    transition transform transition_fast ease
    transform translateZ(0)
    overflow hidden
    text-decoration none
    text-align center
    display block
    position relative
    z-index 1
    width 28px
    height 28px
    line-height 28px
    font-size 15px
    border-radius 0
    margin-right 4px
    color #fff
    background-color #3b404a

  a:hover
    z-index 2
    background-color #383a43

.soc-icon-last
  margin 0

.soc-twitter:before
  content '\e040'

.soc-steam:before
  content '\e037'

.soc-youtube:before
  content '\e051'

.soc-twitch:before
  content '\e05a'
