
.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block
}

.soc li {
  display: inline-block;
  zoom: 1;
}

.soc li a {
  font-family: si !important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right: 4px;
  color: #ffffff;
  background-color: #3b404a;
}

.soc a:hover {
  z-index: 2;
  background-color: #383a43 !important;
}

.soc-icon-last {
  margin: 0 !important;
}

.soc-twitter:before {
  content: '\e040';
}

.soc-facebook:before {
  content: '\e041';
}

.soc-steam:before {
  content: '\e037';
}

.soc-youtube:before {
  content: '\e051';
}

.soc-twitch:before {
  content: '\e05a';
}