// partials
@import "partials/variables.styl"
@import "partials/mixins.styl"
@import "partials/animation.styl"
@import "partials/elements.styl"
@import "partials/ranks.styl"
@import "partials/twitch.styl"

// pages
@import "pages/landingPage.styl"
@import "pages/divisions.styl"
@import "pages/division.styl"
@import "pages/post.styl"
@import "pages/fallen-angels.styl"

@import "partials/media.styl"

body
    overflow-x hidden
