// partials
@import "partials/animation.styl"
@import "partials/variables.styl"
@import "partials/elements.styl"
@import "partials/ranks.styl"
@import "partials/socialMedia.styl"

// pages
@import "pages/landingPage.styl"
@import "pages/divisions.styl"
@import "pages/division.styl"
@import "pages/history.styl"
@import "pages/post.styl"
@import "pages/fallen-angels.styl"

@import "partials/media.styl"

body
    overflow-x hidden

body
  &.page-template-page-history
    background url("/images/bg-pattern.jpg") no-repeat fixed top #070e16 !important
    min-width 0px !important
