/**
 * HERO AREA
 */


/**
 * DIVISION AREA
 */

.game-header
  display flex
  flex-direction row
  align-items center
  .game
    opacity 1
    margin-right 15px



section.division, section.page
  margin-top 70px

  .youtube-embed
    width 100%
    height 500px

  h2
    background url('../images/division-header-bg.jpg') no-repeat center
    height 50px
    padding-left 15px
    display flex
    align-items center

  #sub-nav
    margin-top 180px
    a
      color #fff
    ul
      padding 0
      text-indent 0
      li
        margin-bottom 15px
        display inline-block
        padding 15px
        font-family font_face
        text-transform uppercase
        border solid 1px #ffffff
        border-radius 10px
        margin-right 15px
        opacity 0.3
        transition opacity 0.6s ease
        color #fff
        &:hover
          opacity 1
          transition opacity 0.6s ease
          cursor pointer

  .command-staff
    font-family font_face
    .member
      border solid 1px rgba(255,255,255,.3);
      border-radius 10px
      padding 15px
      display inline-block
      flex-direction column
      margin-right 15px
      transition border 0.6s ease
      &:hover
        border solid 1px rgba(255,255,255,1)
        cursor pointer
        transition border 0.6s ease
      .name
        text-transform uppercase
        font-size 20px
      .position
        color rgba(255,255,255,.3)