/**
 * HERO AREA
 */

section.lobby
    background-image url(divisions_page_bg) , url(divisions_page_top_bg)
    background-repeat no-repeat, repeat-x
    background-position top center
    margin-top 40px


    .section-blurb
        text-align right
        margin-top 50px

.divisions-list
    margin-top 160px
    margin-bottom 60px

    .game-button
        border solid 1px #333
        border-radius 10px
        margin spacing_md
        transition border-color transition_slower ease

        &:hover
            border-color header_color
            cursor pointer
            transition border-color transition_slower ease


/**
 * GAMES
 */

.collection
    display flex
    flex-direction row
    flex-wrap wrap
    align-items center

    .item
        display flex
        flex-direction row
        flex 0 26%
        color #fff
        padding 15px

        .icon
            margin-right 15px

            .game
                opacity 1

            &:hover
                cursor pointer

        .meta
            line-height 24px

        .title, .members
            font-family font_face

        .members
            color rgba(255, 255, 255, .3)
