video#angel-of-death
    margin-bottom -30px
    margin 0 auto
    overflow hidden
    position absolute
    top 50px
    right 0
    bottom 0
    left 0
    z-index -2
    height 835px
    @media (max-width: 1470px)
        display none

#members-container
    text-align center
    padding spacing_xs
    width 100%
    position relative
    margin 0 auto
    margin-top -175px
    background-color rgba(0, 0, 0, .4)
    border-top border_subtle 1px solid
    padding-bottom 50px

    h3
        padding spacing_sm 0
        min-width 600px
        @media (max-width: bp_tablet)
            min-width 100%
            padding spacing_sm spacing_md

    .fallen-angel
        flex 0 47%
        display block
        padding spacing_xl spacing_md
        text-align center
        font-size 18px
        color body_color
        font normal 16px / 1.8em MuseoSans, century gothic, arial
        @media (max-width: bp_tablet)
            flex 0 100%
            padding spacing_md spacing_sm
            font-size 16px

    a.fallen-angel:hover
        color header_color
        text-decoration underline
        transition all transition_fast ease-in-out

    #member-list
        display flex
        flex-direction row
        flex-wrap wrap
        width 1200px
        margin 0 auto
        @media (max-width: 1470px)
            width 600px
            display block
        @media (max-width: bp_tablet)
            width 100%
            padding 0 spacing_sm


section#fallen-angels
    min-height 800px

    #epitaph-container
        width 1300px
        margin 0 auto
        position relative
        height 835px
        @media (max-width: 1470px)
            background-image url('/images/memoriam-mobile-v2.jpg')
            background-repeat no-repeat
            background-position 50% 0
            width 100%
        @media (max-width: bp_tablet)
            height auto
            min-height 500px
            background-size cover

        #epitaph
            position absolute
            top 20%
            left 50%
            width 55%
            text-align center
            @media (max-width: 1470px)
                position relative
                min-width 600px
                margin 0 auto
                left 0
            @media (max-width: bp_tablet)
                min-width 100%
                width 100%
                padding spacing_lg spacing_md
                top 10%

            h2#lead
                font-family 'Copperplate Gothic Light', serif
                font-variant small-caps
                text-transform none
                @media (max-width: bp_tablet)
                    font-size 20px

            #body
                font-size 25px
                font-family 'Copperplate Gothic Light', serif
                display block
                font-variant small-caps
                line-height 40px
                text-shadow darker_bg 1px 1px
                @media (max-width: bp_tablet)
                    font-size 16px
                    line-height 28px
